<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestElerktra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AB19FFC27AAEC7400029FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB1A01227AAEC7800029FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AB1A01C27AAEC7800029FE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
